label
{
  vertical-align: text-bottom;
  text-align: right;

  /* text-orientation: vertical-rl; */
  /* padding: -10px 20px; */
}

.small-icon
{
    font-size:8px;
    color: white
}

table
{
  width: 90%
}

.small-label
{
  width: 15%
}

.picture-label
{
  width: 23%
}

/* .card
{
  border-radius: 25px;

} */

.card-title
{
    /* font-size: 14pt; */
    font-family: montserrat;
    font-weight: 900;
}

.page-title
{
  font-family: montserrat;
  font-weight: 900;
  font-size: 42pt
}

