<ng-container *ngIf="this.user != null; else elseBlock">
    <div class="container-fluid">
        <div class="alert.alert-success" *ngIf="successMsg">
            <p>Success</p>
        </div>
        <div class="row">
            <div class="col-sm-auto bg-dark sticky-top">
                <div class="d-flex flex-sm-column flex-row flex-nowrap bg-dark align-items-center sticky-top">
                    <!-- <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                        <i class="bi-bootstrap fs-1"></i>
                    </a> -->
                    <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                        <li class="nav-item">
                            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                                <img src="assets/images/Menu/Menu-Icon.png">
                            </a>
                        </li>
                        <li>
                            <a href="/user/page" class="nav-link py-0 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                              <img src="assets/images/Menu/Home-Icon.png"><br/>
                              <p class="small-icon">Home</p>
                            </a>
                        </li>
                        <li>
                          <a href="user/add-page" class="nav-link py-0 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                              <img src="assets/images/Menu/Create-Icon.png"><br/>
                              <p class="small-icon">Create</p>
                          </a>
                        </li>
                        <li>
                          <a href="/{{page.pageID}}" class="nav-link py-0 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                              <img src="assets/images/Menu/My-Page-Icon.png"><br/>
                              <p class="small-icon">My Page</p>
                          </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                                <i class="bi-people fs-1"></i>
                            </a>
                        </li>
                        <li>
                            <span class="nav-item" *ngIf= "this.user != null; else elseBlock">
                                <a class="nav-link active"  aria-current="page" (click) = "logout()" href="#">Logout</a>
                            </span>
                        </li>
                    </ul>

                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-person-circle h2"></i>
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm p-3 h-">
                <div class="row bg-light">
                  <div class="col-sm-auto bg-light sticky-top">
                      <img src="assets/images/Menu/Polity-Logo.png">
                  </div>
                  <div class="col-sm-auto bg-light sticky-top">
                  </div>
                  <div class="col-sm-auto bg-light sticky-sm-top ">
                    <h4><b>FOR POLITICIANS</b></h4>
                  </div>
                </div>

                <br/>
                <div class="row">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #elseBlock>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
</ng-template>
