
<!-- <h1>Welcome user_placeholder</h1> -->

<div class="container">
    <div class="row">
      <div class="col">
          <a href="user/add-page"><img class="dahsboard-image" src="assets/images/Dashboard/Build.PNG">
          </a>
      </div>
      <div class="col">
        <a href="user/add-page"><img class="dahsboard-image" src="assets/images/Dashboard/Edit.PNG">
        </a>
      </div>

    </div>
    <div class="row">
        <div class="col" *ngIf="this.user.userType != 1">
            <br/>
            <a href="/{{page.pageID}}">
                <img  class="dahsboard-image" src="assets/images/Dashboard/View.PNG">
            </a>
        </div>
        <div class="col">
            <br/>
            <a href="user/add-page"><img class="dahsboard-image" src="assets/images/Dashboard/Admin.PNG">
            </a>
        </div>
    </div>
</div>
<!-- <h2>Edit your website</h2> -->
