.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard-image
{
  width: 100%;
  height: 100%;
  background-color: white;
}

.fade
{
   opacity: 0.5;
}

