
<div class="alert.alert-success" *ngIf="success">
  <!-- <img src={{successMsg}}> -->
  <p>success</p>
</div>

<div class="alert.alert-success" *ngIf="errorMsg">
   <p>Page exists. Please choose another.</p>
</div>

<h1 class="page-title">UPDATE YOUR CANDIDATE PROFILE</h1>
<br/>
<br/>

<!-- Form for the Candidate's bio -->
<div class="card">
   <div class="card-header" data-bs-toggle="collapse" href="#candidateForm">
       <p class="px-4 card-title">
           <b>
               Candidate Biography
           </b>
       </p>
   </div>
   <div class="card-body" >
        <div class="row justify-content-md-center collapse" id="candidateForm">

            <div class="form-group " align="center">
            <form ngNativeValidate  #firstNameForm = "ngForm" (ngSubmit)="updateCandidateFirstName(firstname)">
                <table>
                    <tr>
                        <td class="small-label">
                            <label class="fw-bold">First Name</label>
                        </td>
                        <td>
                            <input
                                type = "text"
                                class = "form-control"
                                placeholder="Enter name"
                                name = "firstName"
                                [(ngModel)] = "firstname"
                                #pageTitle = "ngModel"
                                required
                            >
                        </td>
                        <td align="center">
                            <button class="save_delete_panel_required" [disabled] = "!firstNameForm.valid">
                                <img  src="assets/images/Utility/Save-icon.png">
                            </button>
                        </td>
                        </tr>
                </table>
            </form><br/>
            <form ngNativeValidate #lastNameForm = "ngForm" (ngSubmit)="updateCandidateLastName(lastname)">
                <table>
                    <tr>
                        <td class="small-label">
                            <label class="fw-bold">Last Name &nbsp;</label>
                        </td>
                        <td>
                            <input
                                type = "text"
                                class = "form-control"
                                placeholder="Enter name"
                                name = "lastname"
                                [(ngModel)] = "lastname"
                                #pageTitle = "ngModel"
                                required
                            >
                        </td>
                        <td align="center">
                            <button class="save_delete_panel_required" [disabled] = "!lastNameForm.valid">
                                <img  src="assets/images/Utility/Save-icon.png">
                            </button>
                        </td>
                        </tr>
                </table>
            </form><br/>
            <form ngNativeValidate #bioForm = "ngForm" (ngSubmit)="updateCandidateBio(bio)">
                <table>
                    <tr>
                        <td class="small-label">
                            <br/>
                            <label class="fw-bold">Biography</label>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea
                                class="form-control"
                                cols="30" rows="5"
                                name = "bio"
                                [(ngModel)] = "bio"
                                #pageTitle = "ngModel"
                                required
                            >
                            </textarea>
                        </td>
                        <td align="center" >
                            <button class="save_delete_panel_required" [disabled] = "!bioForm.valid">
                                <img  src="assets/images/Utility/Save-icon.png">
                            </button>
                        </td>
                    </tr>
                </table>
            </form><br/>
            <form ngNativeValidate #emailForm = "ngForm" (ngSubmit)="updateCandidateEmail(email)">
                <table>
                <tr>
                    <td class="small-label">
                        <label class="fw-bold">Email</label>
                    </td>
                    <td>
                        <!-- <input
                            type = "email"
                            class = "form-control"
                            placeholder="Enter email"
                            name = "email"
                            [(ngModel)] = "email"
                            [disabled] = true
                            #pageTitle = "ngModel"
                        > -->
                        {{email}}
                    </td>
                    <td align="center">
                    </td>
                </tr>
                </table>
            </form>
            </div>


            <!-- Form for the profile pricture-->
            <form ngNativeValidate class="form-group" id="candidateForm" #profilePictureForm = "ngForm" (ngSubmit)="updateImage(profilepicture , 1)">
                <br><br>
                <div class="form-group"  align="center">
                    <table>
                        <tr>
                            <td class="picture-label">
                                <label class="fw-bold">Update Profile Picture:</label>&nbsp;
                            </td>
                            <td>
                                <input
                                    type = "file"
                                    class = "file-input"
                                    placeholder="Upload"
                                    name = "profilepicture"
                                    accept="image/*"
                                    (change)= "getFile($event, 1)"
                                >
                            </td>
                            <td><button class = "btn btn-primary" [disabled] = "!profilePictureForm.valid">Upload</button></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
   </div>
</div>
<br/>

<!-- Form for the Urls -->
<div class="card">
   <div class="card-header" data-bs-toggle="collapse" href="#urlForm">
       <p class="px-4 card-title">
           <b>
               Social Links
           </b>
       </p>
   </div>
   <div class="card-body">
       <p class="px-4">
           Please remember that you need the embed link for youtube videos as they will not allow the use of the basic url.
       </p>
       <div class="row justify-content-md-center collapse" id="urlForm">
         <div class="form-group" align="center">
            <form ngNativeValidate #f="ngForm" (ngSubmit)="updatePageURL(f, url.urlID)" *ngFor = "let url of urlList">
              <table>
                    <tr>
                        <input type="hidden" value="{{url.urlID}}">
                        <ng-container
                            *ngIf= "url.urlName != 'Profile Picture'
                            && url.urlName != 'Key Platform Image'"
                        >
                          <td class="small-label"><label class="fw-bold">{{url.urlName}}</label> &nbsp;</td>
                          <td>
                              <input
                                  type="url"
                                  class="form-control"
                                  placeholder="Please type a url"
                                  name="{{url.urlName.toLowerCase()}}"
                                  [(ngModel)]= "this[url.urlName.toLowerCase().replaceAll(' ','')]"
                                  #pageTitle = "ngModel"
                              >
                              <div class="errors" *ngIf="url.urlName?.invalid && url.urlName?.dirty">
                                  Problem detected
                              </div>
                          </td>
                          <td align="center" >
                            <button class="save_delete_panel_required" [disabled] = "!f.valid">
                              <img  src="assets/images/Utility/Save-icon.png">
                            </button>
                          </td>
                        </ng-container>
                    </tr>

              </table>
            </form>
            <!-- <tr>
              <td></td>
              <td> -->
                <!-- <div class="d-flex float-end">
                  <button class = "btn btn-primary" [disabled] = "!f.valid">Save</button>&nbsp;
                  <a class="btn btn-primary" routerLink="/user/page">Cancel</a>
                </div> -->
              <!-- </td>
            </tr> -->
          </div>
       </div>
   </div>
</div>
<br/>

<!-- Form for the key platforms. -->
<div class="card">
   <div class="card-header" data-bs-toggle="collapse" href="#keyForm">
       <p class="px-4 card-title">
           <b>
               Key Platforms
           </b>
       </p>
   </div>
   <div class="card-body">
       <div class="collapse" id="keyForm">
            <p class="px-4">

            </p>
            <!-- Form for the platform image -->
            <form novalidate #platformImageForm = "ngForm" (ngSubmit)="updateImage(keyplatformimage , 2)" >
                <div class="form-group" align="center">
                    <table  class="form-group collapse" id="keyForm">
                        <tr>
                            <td class="picture-label">
                                <label>Update Platform Image</label>&nbsp;
                            </td>
                            <td>
                                <input
                                    type = "file"
                                    class = "file-input"
                                        placeholder="Upload"
                                        name = "keyplatformimage"
                                        accept="image/*"
                                        (change)= "getFile($event, 2)"
                                >
                            </td>
                            <td class="align-top">
                                <button class="save_delete_panel_required" [disabled] = "!keyPlatforms.valid">
                                    <img  src="assets/images/Utility/Save-icon.png">
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
            <br/>
            <form novalidate #keyPlatforms = "ngForm" (ngSubmit)="UpdateKeyPlatform(keyPlatforms, 1)">
                <div class="form-group" align="center">
                    <table>
                        <tr>
                            <td>
                                <table  class="form-group">
                                    <tr>
                                        <td class="small-label">
                                            <b>
                                                <label>Title idea &nbsp;</label>
                                            </b>
                                        </td>
                                        <td>
                                            <input
                                            type = "text"
                                            class = "form-control"
                                            placeholder="Enter title"
                                            name = "ideaTitle1"
                                            [(ngModel)] = "ideaTitle1"
                                            #pageTitle = "ngModel"
                                            required
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td  class="small-label">
                                            <b>
                                                <label>Description</label>
                                            </b>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <textarea
                                                class="form-control"
                                                cols="30" rows="5"
                                                name = "platformDescription1"
                                                [(ngModel)] = "platformDescription1"
                                                #pageTitle = "ngModel"
                                                required
                                            >
                                            </textarea>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <td></td>
                                        <td>
                                            <div class="form-group text-end">
                                                <button class = "btn btn-primary" [disabled] = "!keyPlatforms.valid">Save</button>
                                                <a class="btn btn-primary" routerLink="/user/page">Cancel</a>
                                            </div>
                                            </td>
                                    </tr> -->
                                </table>
                            </td>
                            <td align="center" class="align-top">
                                <button class="save_delete_panel_required" [disabled] = "!keyPlatforms.valid">
                                    <img  src="assets/images/Utility/Save-icon.png">
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
            <br/>

            <form novalidate #keyPlatforms = "ngForm" (ngSubmit)="UpdateKeyPlatform(keyPlatforms, 2)">
                <div class="form-group" align="center">
                <table>
                    <tr>
                        <td>
                            <table  class="form-group">
                                <tr>
                                    <td class="small-label">
                                        <b>
                                            <label>Title idea &nbsp;</label>
                                        </b>
                                    </td>
                                    <td>
                                        <input
                                        type = "text"
                                        class = "form-control"
                                        placeholder="Enter title"
                                        name = "ideaTitle2"
                                        [(ngModel)] = "ideaTitle2"
                                        #pageTitle = "ngModel"
                                        required
                                        >
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>
                                            <label>Description</label>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <textarea
                                            class="form-control"
                                            cols="30" rows="5"
                                            name = "platformDescription2"
                                            [(ngModel)] = "platformDescription2"
                                            #pageTitle = "ngModel"
                                            required
                                        >
                                        </textarea>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td></td>
                                    <td>
                                        <div class="form-group text-end">
                                            <button class = "btn btn-primary" [disabled] = "!keyPlatforms.valid">Save</button>
                                            <a class="btn btn-primary" routerLink="/user/page">Cancel</a>
                                        </div>
                                        </td>
                                </tr> -->
                            </table>
                        </td>
                        <td align="center" class="align-top">
                            <button class="save_delete_panel_required" [disabled] = "!firstNameForm.valid">
                                <img  src="assets/images/Utility/Save-icon.png">
                            </button>
                        </td>
                    </tr>
                </table>
                </div>
            </form>
            <br/>

           <!-- Form for the key platforms. -->
            <form novalidate #keyPlatforms = "ngForm" (ngSubmit)="UpdateKeyPlatform(keyPlatforms, 3)">
                <div class="form-group" align="center">
                    <table>
                        <tr>
                            <td>
                                <table  class="form-group">
                                    <tr>
                                        <td class="small-label">
                                            <b>
                                                <label>Title idea &nbsp;</label>
                                            </b>
                                        </td>
                                        <td>
                                            <input
                                            type = "text"
                                            class = "form-control"
                                            placeholder="Enter title"
                                            name = "ideaTitle3"
                                            [(ngModel)] = "ideaTitle3"
                                            #pageTitle = "ngModel"
                                            required
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>
                                                <label>Description</label>
                                            </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <textarea
                                                class="form-control"
                                                cols="30" rows="5"
                                                name = "platformDescription3"
                                                [(ngModel)] = "platformDescription3"
                                                #pageTitle = "ngModel"
                                                required
                                            >
                                            </textarea>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <td></td>
                                        <td>
                                            <div class="form-group text-end">
                                                <button class = "btn btn-primary" [disabled] = "!keyPlatforms.valid">Save</button>
                                                <a class="btn btn-primary" routerLink="/user/page">Cancel</a>
                                            </div>
                                            </td>
                                    </tr> -->
                                </table>
                            </td>
                            <td align="center" class="align-top">
                                <button class="save_delete_panel_required" [disabled] = "!firstNameForm.valid">
                                    <img  src="assets/images/Utility/Save-icon.png">
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>

            <br/><br/>


       </div>
   </div>
</div>
<br/>

<!-- Form for the policy card. -->
<div class="card">
   <div class="card-header" data-bs-toggle="collapse" href="#cardForm">
       <p class="px-4 card-title">
           <b>
               Policy Cards
           </b>
       </p>
   </div>
   <div class="card-body">
       <div class="collapse" id="cardForm">
        
            <!-- <form [formGroup]="policycardform">
                <div 
                    formArrayName="policycards" 
                    *ngFor="let creds of policycardform.controls.policycards?.value; let i = index"
                    class="form-group" align="center"
                >
                    <ng-container [formGroupName]="i">
                        <table class="form-group bg-light" >
                            <tr>
                                <td class="picture-label" >
                                    <b>
                                        <label>Choose a policy category: &nbsp;</label>
                                    </b>
                                </td>
                                <td >
                                    <select
                                        formControlName="policyID"
                                        style="width: 100%"
                                    >
                                        <ng-container *ngFor = "let category of categories">
                                            <option value="{{category.policyID}}" [selected] ="category.policyID == 1">{{category.category}}</option>
                                        </ng-container>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="small-label">
                                    <b>
     
                                        <label>Policy Title:</label>
                                    </b>
                                </td>
                                <td>
                                    <input
                                        type = "text"
                                        placeholder="Enter title"
                                        name="cardTitle"
                                        style="width: 100%"
                                        (change)="textInputer($event, i, 'cardTitle')"
                                        [value]="this.policycardform.get('policycards').value[i]['cardTitle']"
                                        required
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>
                                        <label>Short Description</label>
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <textarea
                                        class="form-control"
                                        cols="10" rows="2"
                                        formControlName = "cardDetails"
                                        required
                                    >
                                    </textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>
                                        <label>Long Description</label>
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <textarea
                                        class="form-control"
                                        cols="50" rows="5"
                                        name = "learnMore"
                                        required
                                    >
                                    </textarea>
                                </td>
                            </tr>
                        </table>
                        <input placeholder="cardDetails" formControlName="cardDetails">
                        <input placeholder="learnMore" formControlName="learnMore">
                    </ng-container>

                </div>


                    <button (click)="AddPolicyCard()">Add</button>
            </form> -->

        
           <form novalidate #policyCards = "ngForm" (ngSubmit)="updatePolicyCard(policyCards, policyID)"
            *ngFor = "let card of this.page.candidate.cardList; let i = index">
               <div class="form-group" align="center">
                   <table class="form-group" >
                       <tr>
                           <td class="picture-label">
                               <b>
                                   <label>Choose a policy category: &nbsp;</label>
                               </b>
                           </td>
                           <td>
                               <select
                                   class="form-control"
                                   name="policyID"
                                   [(ngModel)] = "policyID"
                                   #pageTitle = "ngModel"
                               >
                                   <ng-container *ngFor = "let category of categories">
                                       <option value="{{category.policyID}}" [selected] ="category.policyID == 1">{{category.category}}</option>
                                   </ng-container>
                               </select>
                           </td>
                           <td>
                           </td>
                       </tr>
                       <tr>
                           <td class="small-label">
                               <b>

                                   <label>Policy Title:</label>
                               </b>
                           </td>
                           <td>
                               <input
                                   type = "text"
                                   class = "form-control"
                                   placeholder="Enter title"
                                   name = "cardTitle"
                                   [(ngModel)] = "cardtitleslist[i]"
                                   #pageTitle = "ngModel"
                                   required
                               >
                           </td>
                       </tr>
                       <tr>
                           <td>
                               <b>
                                   <label>Short Description</label>
                               </b>
                           </td>
                       </tr>
                       <tr>
                           <td colspan="2">
                               <textarea
                                   class="form-control"
                                   cols="10" rows="2"
                                   name = "cardDetails"
                                   [(ngModel)] = "cardDetails"
                                   #pageTitle = "ngModel"
                                   required
                               >
                               </textarea>
                           </td>
                       </tr>
                       <tr>
                           <td>
                               <b>
                                   <label>Long Description</label>
                               </b>
                           </td>
                       </tr>
                       <tr>
                           <td colspan="2">
                               <textarea
                                   class="form-control"
                                   cols="50" rows="5"
                                   name = "learnMore"
                                   [(ngModel)] = "learnMore"
                                   #pageTitle = "ngModel"
                                   required
                               >
                               </textarea>
                           </td>
                       </tr>

                       <tr>
                           <td></td>
                           <td>
                               <div class="form-group text-end">
                                   <button class = "btn btn-primary" [disabled] = "!policyCards.valid">Save</button>
                                   &nbsp;
                                   <a class="btn btn-primary" routerLink="/user/page">Cancel</a>
                               </div>
                           </td>
                       </tr>
                   </table>
               </div>
               <!-- <div class = "alert alert-danger" *ngIf = "pageTitle.errors?.required && pageTitle.touched">
                   First name is required!
               </div> -->
               <br><br>
           </form>
       </div>
   </div>


</div>

