label
{
  vertical-align: text-bottom;
  /* text-align: right; */

  /* text-orientation: vertical-rl; */
  /* padding: -10px 20px; */
}

/* table
{
   background-color: silver;
} */
input
{
  border: none;
}

.small-icon
{
    font-size:8px;
    color: white
}

table
{
  width: 90%
}

.small-label
{
  width: 15%;
  font-family: montserrat;
  font-weight: 900;
  font-size: 10pt;
}

.picture-label
{
  width: 23%;
  font-family: montserrat;
  font-weight: 900;
  font-size: 10pt;
  vertical-align: text-bottom;
}

/* .card
{
  border-radius: 25px;

} */

.card-title
{
    /* font-size: 14pt; */
    font-family: montserrat;
    font-weight: 900;
    text-decoration: underline;
    font-size: 12pt;
}

.page-title
{
  font-family: montserrat;
  font-weight: 900;
  font-size: 35pt;

}

.save_delete_panel_required
{
  border-radius: 20%;
  border:0cm;
}
