<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="alert.alert-success" *ngIf="success">
  <!-- <img src={{successMsg}}> -->
  <p>success</p>
</div>

<div class="alert.alert-success" *ngIf="errorMsg">
   <p>Page exists. Please choose another.</p>
</div>

<h1 class="page-title">UPDATE YOUR CANDIDATE PROFILE</h1>
<br/>
<br/>

<!-- Form for the Candidate's bio -->
<div class="card">
   <div class="card-header" data-bs-toggle="collapse" href="#candidateForm">
       <p class="px-4 card-title">
           <b>
               Candidate Biography
           </b>
       </p>
   </div>
   <div class="card-body" >
        <div class="row justify-content-md-center collapse" id="candidateForm">

            <div class="form-group " align="center">
            <form ngNativeValidate  #firstNameForm = "ngForm" (ngSubmit)="updateCandidateFirstName(firstname)">
                <table>
                    <tr>
                        <td class="small-label">
                            <label class="fw-bold">First Name</label>
                        </td>
                        <td>
                            <input
                                type = "text"
                                class = "form-control"
                                placeholder="Enter name"
                                name = "firstName"
                                [(ngModel)] = "firstname"
                                #pageTitle = "ngModel"
                                required
                            >
                        </td>
                        <td align="center">
                            <button class="save_delete_panel_required" [disabled] = "!firstNameForm.valid">
                                <img  src="assets/images/Utility/Save-icon.png">
                            </button>
                        </td>
                        </tr>
                </table>
            </form><br/>
            <form ngNativeValidate #lastNameForm = "ngForm" (ngSubmit)="updateCandidateLastName(lastname)">
                <table>
                    <tr>
                        <td class="small-label">
                            <label class="fw-bold">Last Name &nbsp;</label>
                        </td>
                        <td>
                            <input
                                type = "text"
                                class = "form-control"
                                placeholder="Enter name"
                                name = "lastname"
                                [(ngModel)] = "lastname"
                                #pageTitle = "ngModel"
                                required
                            >
                        </td>
                        <td align="center">
                            <button class="save_delete_panel_required" [disabled] = "!lastNameForm.valid">
                                <img  src="assets/images/Utility/Save-icon.png">
                            </button>
                        </td>
                        </tr>
                </table>
            </form><br/>
            <form ngNativeValidate #bioForm = "ngForm" (ngSubmit)="updateCandidateBio(bio)">
                <table>
                    <tr>
                        <td class="small-label">
                            <br/>
                            <label class="fw-bold">Biography</label>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea
                                class="form-control"
                                cols="30" rows="5"
                                name = "bio"
                                [(ngModel)] = "bio"
                                #pageTitle = "ngModel"
                                required
                            >
                            </textarea>
                        </td>
                        <td align="center" >
                            <button class="save_delete_panel_required" [disabled] = "!bioForm.valid">
                                <img  src="assets/images/Utility/Save-icon.png">
                            </button>
                        </td>
                    </tr>
                </table>
            </form><br/>
            <form ngNativeValidate #emailForm = "ngForm" (ngSubmit)="updateCandidateEmail(email)">
                <table>
                <tr>
                    <td class="small-label">
                        <label class="fw-bold">Email</label>
                    </td>
                    <td>
                        <!-- <input
                            type = "email"
                            class = "form-control"
                            placeholder="Enter email"
                            name = "email"
                            [(ngModel)] = "email"
                            [disabled] = true
                            #pageTitle = "ngModel"
                        > -->
                        {{email}}
                    </td>
                    <td align="center">
                    </td>
                </tr>
                </table>
            </form>
            </div>


            <!-- Form for the profile pricture-->
            <form ngNativeValidate class="form-group" id="candidateForm" #profilePictureForm = "ngForm" (ngSubmit)="updateImage(profilepicture , 1)">
                <br><br>
                <div class="form-group"  align="center">
                    <table>
                        <tr>
                            <td class="picture-label">
                                <label class="fw-bold">Update Profile Picture:</label>&nbsp;
                            </td>
                            <td>
                                <input
                                    type = "file"
                                    class = "file-input"
                                    placeholder="Upload"
                                    name = "profilepicture"
                                    accept="image/*"
                                    (change)= "getFile($event, 1)"
                                >
                            </td>
                            <td><button class = "btn btn-primary" [disabled] = "!profilePictureForm.valid">Upload</button></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
   </div>
</div>
<br/>

<!-- Form for the Urls -->
<div class="card">
   <div class="card-header" data-bs-toggle="collapse" href="#urlForm">
       <p class="px-4 card-title">
           <b>
               Social Links
           </b>
       </p>
   </div>
   <div class="card-body" >
        <p class="px-4">
            Lorem Ipsum
        </p>
        <div class="container collapse " id="urlForm">
          <div class="container bg-light urlContainer">
            <div class="row">
              <p class="divHeader">ADD SOCIAL ICONS</p>
              <hr>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <img class="linkButtons" src="assets/images/Buttons/Facebook-Button.png" data-bs-toggle="collapse" href="#facebookForm">
              </div>
              <div class="col-sm-3">
                <img class="linkButtons" src="assets/images/Buttons/Instagram-Button.png" data-bs-toggle="collapse" href="#instagramForm">
              </div>
              <div class="col-sm-3" >
                <img class="linkButtons" src="assets/images/Buttons/Linkedin-Button.png" data-bs-toggle="collapse" href="#linkedinForm">
              </div>
              <div class="col-sm-3">
                <img class="linkButtons" src="assets/images/Buttons/Twitter-Button.png" data-bs-toggle="collapse" href="#twitterForm">
              </div>
            </div>
            <div class="row ">

              <ng-container *ngFor = "let url of urlList">
                <form ngNativeValidate #f="ngForm" (ngSubmit)="updatePageURL(f, url.urlID)" class="collapse" id="{{url.urlName.toLowerCase().replaceAll(' ', '')}}Form">
                  <table align="center">
                    <tr>
                      <ng-container
                      *ngIf= "url.urlName == 'Facebook' ||
                      url.urlName == 'LinkedIn'||
                      url.urlName == 'Twitter'||
                      url.urlName == 'Instagram'"
                      >
                        <td class="small-label">

                          <label class="fw-bold">{{url.urlName}}</label> &nbsp;
                        </td>
                        <td>
                          <input
                              type="url"
                              class="form-control"
                              placeholder="Please type a url"
                              name="{{url.urlName.toLowerCase()}}"
                              [(ngModel)]= "this[url.urlName.toLowerCase().replaceAll(' ','')]"
                              #pageTitle = "ngModel"
                          >
                          <div class="errors" *ngIf="url.urlName?.invalid && url.urlName?.dirty">
                              Problem detected
                          </div>
                        </td>
                        <td align="center">
                          <img  src="assets/images/Utility/Save-Button.png" (click)="updatePageURL(f, url.urlID)">
                          <img  (click)="deleteUrl(url.pageURLID)" src="assets/images/Utility/Trash.png">
                        </td>

                      </ng-container>
                    </tr>
                    <tr><br/></tr>
                  </table>
                </form>
              </ng-container>
            </div>
            <br>
          </div>

        </div>

        <div class="container collapse urlContainer" id="urlForm">
          <br/>
          <div class="container bg-light urlContainer">
            <div class="row">
              <p class="divHeader">ADD BUTTONS</p>
              <hr>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <img class="linkButtons" src="assets/images/Buttons/Donate-Button.png" data-bs-toggle="collapse" href="#donateForm">
              </div>
              <div class="col-sm-3">
                <img class="linkButtons" src="assets/images/Buttons/Lawn-Button.png" data-bs-toggle="collapse" href="#lawnsignForm">
              </div>
              <div class="col-sm-3" >
                <img class="linkButtons" src="assets/images/Buttons/Volunteer.png" data-bs-toggle="collapse" href="#volunteerForm">
              </div>
            </div>


            <div class="row">
              <br>
              <ng-container *ngFor = "let url of urlList">
                <ng-container
                *ngIf= "url.urlName == 'Donate' ||
                url.urlName == 'Lawn Sign'||
                url.urlName == 'Volunteer'"
                >

                <form ngNativeValidate #f="ngForm" (ngSubmit)="updatePageURL(f, url.urlID)" class="collapse" id="{{url.urlName.toLowerCase().replaceAll(' ', '')}}Form">
                  <table align="center">
                    <tr>
                        <td class="small-label">
                          <label class="fw-bold">{{url.urlName}}</label> &nbsp;</td>
                        <td>
                          <input
                              type="url"
                              class="form-control"
                              placeholder="Please type a url"
                              name="{{url.urlName.toLowerCase()}}"
                              [(ngModel)]= "this[url.urlName.toLowerCase().replaceAll(' ','')]"
                              #pageTitle = "ngModel"
                          >
                          <div class="errors" *ngIf="url.urlName?.invalid && url.urlName?.dirty">
                              Problem detected
                          </div>
                        </td>
                        <td align="center">
                          <img  src="assets/images/Utility/Save-Button.png" (click)="updatePageURL(f, url.urlID)">
                          <img  (click)="deleteUrl(url.pageURLID)" src="assets/images/Utility/Trash.png">
                        </td>

                      </tr>
                      <tr><br/></tr>
                    </table>
                  </form>
                </ng-container>
              </ng-container>
            </div>

          </div>
        </div>


       <!-- <div class="row justify-content-md-center collapse" >
         <div class="form-group" align="center">
            <form ngNativeValidate #ButtonForm="ngForm" (ngSubmit)="updatePageURL(ButtonForm, url.urlID)" *ngFor = "let url of urlList">
              <table>
                <tr>
                    <input type="hidden" value="{{url.urlID}}">
                    <ng-container
                        *ngIf= "url.urlName != 'Profile Picture'
                        && url.urlName != 'Key Platform Image'"
                    >
                      <td class="small-label"><label class="fw-bold">{{url.urlName}}</label> &nbsp;</td>
                      <td>
                          <input
                              type="url"
                              class="form-control"
                              placeholder="Please type a url"
                              name="{{url.urlName.toLowerCase()}}"
                              [(ngModel)]= "this[url.urlName.toLowerCase().replaceAll(' ','')]"
                              #pageTitle = "ngModel"
                          >
                          <div class="errors" *ngIf="url.urlName?.invalid && url.urlName?.dirty">
                              Problem detected
                          </div>
                      </td>
                      <td align="right">
                        <button class="save_panel" [disabled] = "!f.valid" >
                          <img  src="assets/images/Utility/Save-icon.png">
                        </button>
                      </td>
                      <td align="left">
                          <img  class="delete_panel" (click)="deleteUrl(url.pageURLID)" src="assets/images/Utility/Thrash-Icon.png">
                      </td>
                    </ng-container>
                </tr>

              </table>
            </form>
          </div>
       </div> -->
   </div>
</div>
<br/>

<!-- Form for the Media -->
<div class="card">
  <div class="card-header" data-bs-toggle="collapse" href="#MediaForm">
      <p class="px-4 card-title">
          <b>
              MEDIA
          </b>
      </p>
  </div>
  <div class="card-body" >
       <p class="px-4">
           Please remember that you need the embed link for youtube videos as they will not allow the use of the basic url.
       </p>
       <div class="container collapse " id="MediaForm">
         <div class="container bg-light urlContainer">
           <div class="row">
             <p class="divHeader">UPLOAD VIDEO</p>
             <hr>
           </div>
           <div class="row ">
             <ng-container *ngFor = "let url of urlList">
               <ng-container
               *ngIf= "url.urlName == 'Youtube'"
               >
               <form ngNativeValidate #f="ngForm" (ngSubmit)="updatePageURL(f, url.urlID)">
                 <table align="center">
                   <tr>
                       <td class="picture-label">
                         <label class="fw-bold">Link From {{url.urlName}}</label> &nbsp;
                       </td>
                       <td>
                         <input
                             type="url"
                             class="form-control"
                             placeholder="Please type a url"
                             name="{{url.urlName.toLowerCase()}}"
                             [(ngModel)]= "this[url.urlName.toLowerCase().replaceAll(' ','')]"
                             #pageTitle = "ngModel"
                         >
                         <div class="errors" *ngIf="url.urlName?.invalid && url.urlName?.dirty">
                             Problem detected
                         </div>
                       </td>
                       <td align="center">
                         <img  src="assets/images/Utility/Save-Button.png" (click)="updatePageURL(f, url.urlID)">
                         <img  (click)="deleteUrl(url.pageURLID)" src="assets/images/Utility/Trash.png">
                       </td>

                      </tr>
                      <tr><br/></tr>
                    </table>
                  </form>
                </ng-container>
             </ng-container>
           </div>
         </div>
       </div>

       <div class="container collapse urlContainer" id="MediaForm">
         <br/>
         <div class="container bg-light urlContainer">
            <div class="row">
              <p class="divHeader">UPLOAD MEDIA</p>
              <hr>
            </div>
           <div class="row">
             <br>
             <ng-container *ngFor = "let url of urlList">
               <ng-container
               *ngIf= "url.urlName == 'Slideshare'"
               >

               <form ngNativeValidate #f="ngForm" (ngSubmit)="updatePageURL(f, url.urlID)" >
                <table align="center">
                  <tr>
                      <td class="picture-label">
                        <label class="fw-bold">
                          Link From {{url.urlName}}
                        </label>
                      </td>
                      <td>
                        <input
                            type="url"
                            class="form-control"
                            placeholder="Please type a url"
                            name="{{url.urlName.toLowerCase()}}"
                            [(ngModel)]= "this[url.urlName.toLowerCase().replaceAll(' ','')]"
                            #pageTitle = "ngModel"
                        >
                        <div class="errors" *ngIf="url.urlName?.invalid && url.urlName?.dirty">
                            Problem detected
                        </div>
                      </td>
                      <td align="center">
                        <img  src="assets/images/Utility/Save-Button.png" (click)="updatePageURL(f, url.urlID)">
                        <img  (click)="deleteUrl(url.pageURLID)" src="assets/images/Utility/Trash.png">
                      </td>

                    </tr>
                    <tr><br/></tr>
                  </table>
                </form>
               </ng-container>
             </ng-container>
           </div>

         </div>
       </div>


      <!-- <div class="row justify-content-md-center collapse" >
        <div class="form-group" align="center">
           <form ngNativeValidate #ButtonForm="ngForm" (ngSubmit)="updatePageURL(ButtonForm, url.urlID)" *ngFor = "let url of urlList">
             <table>
               <tr>
                   <input type="hidden" value="{{url.urlID}}">
                   <ng-container
                       *ngIf= "url.urlName != 'Profile Picture'
                       && url.urlName != 'Key Platform Image'"
                   >
                     <td class="small-label"><label class="fw-bold">{{url.urlName}}</label> &nbsp;</td>
                     <td>
                         <input
                             type="url"
                             class="form-control"
                             placeholder="Please type a url"
                             name="{{url.urlName.toLowerCase()}}"
                             [(ngModel)]= "this[url.urlName.toLowerCase().replaceAll(' ','')]"
                             #pageTitle = "ngModel"
                         >
                         <div class="errors" *ngIf="url.urlName?.invalid && url.urlName?.dirty">
                             Problem detected
                         </div>
                     </td>
                     <td align="right">
                       <button class="save_panel" [disabled] = "!f.valid" >
                         <img  src="assets/images/Utility/Save-icon.png">
                       </button>
                     </td>
                     <td align="left">
                         <img  class="delete_panel" (click)="deleteUrl(url.pageURLID)" src="assets/images/Utility/Thrash-Icon.png">
                     </td>
                   </ng-container>
               </tr>

             </table>
           </form>
         </div>
      </div> -->
  </div>
</div>
<br/>

<!-- Form for the key platforms. -->
<div class="card">
   <div class="card-header" data-bs-toggle="collapse" href="#keyForm">
       <p class="px-4 card-title">
           <b>
               Key Platforms
           </b>
       </p>
   </div>
   <div class="card-body">
       <div class="collapse" id="keyForm">
            <p class="px-4">

            </p>
            <!-- Form for the platform image -->
            <form novalidate #platformImageForm = "ngForm" (ngSubmit)="updateImage(keyplatformimage , 2)" >
                <div class="form-group" align="center">
                    <table  class="form-group collapse" id="keyForm">
                        <tr>
                            <td class="picture-label">
                                <label>Update Platform Image</label>&nbsp;
                            </td>
                            <td>
                                <input
                                    type = "file"
                                    class = "file-input"
                                        placeholder="Upload"
                                        name = "keyplatformimage"
                                        accept="image/*"
                                        (change)= "getFile($event, 2)"
                                >
                            </td>
                            <td class="align-top">
                                <button class="save_delete_panel_required" [disabled] = "!keyPlatforms.valid">
                                    <img  src="assets/images/Utility/Save-icon.png">
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
            <br/>
            <form novalidate #keyPlatforms = "ngForm" (ngSubmit)="UpdateKeyPlatform(keyPlatforms, 1)">
                <div class="form-group" align="center">
                    <table>
                        <tr>
                            <td>
                                <table  class="form-group">
                                    <tr>
                                        <td class="small-label">
                                            <b>
                                                <label>Title idea &nbsp;</label>
                                            </b>
                                        </td>
                                        <td>
                                            <input
                                            type = "text"
                                            class = "form-control"
                                            placeholder="Enter title"
                                            name = "ideaTitle1"
                                            [(ngModel)] = "ideaTitle1"
                                            #pageTitle = "ngModel"
                                            required
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td  class="small-label">
                                            <b>
                                                <label>Description</label>
                                            </b>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <textarea
                                                class="form-control"
                                                cols="30" rows="5"
                                                name = "platformDescription1"
                                                [(ngModel)] = "platformDescription1"
                                                #pageTitle = "ngModel"
                                                required
                                            >
                                            </textarea>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <td></td>
                                        <td>
                                            <div class="form-group text-end">
                                                <button class = "btn btn-primary" [disabled] = "!keyPlatforms.valid">Save</button>
                                                <a class="btn btn-primary" routerLink="/user/page">Cancel</a>
                                            </div>
                                            </td>
                                    </tr> -->
                                </table>
                            </td>
                            <td align="center" class="align-top">
                                <button class="save_delete_panel_required" [disabled] = "!keyPlatforms.valid">
                                    <img  src="assets/images/Utility/Save-icon.png">
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
            <br/>

            <form novalidate #keyPlatforms = "ngForm" (ngSubmit)="UpdateKeyPlatform(keyPlatforms, 2)">
                <div class="form-group" align="center">
                <table>
                    <tr>
                        <td>
                            <table  class="form-group">
                                <tr>
                                    <td class="small-label">
                                        <b>
                                            <label>Title idea &nbsp;</label>
                                        </b>
                                    </td>
                                    <td>
                                        <input
                                        type = "text"
                                        class = "form-control"
                                        placeholder="Enter title"
                                        name = "ideaTitle2"
                                        [(ngModel)] = "ideaTitle2"
                                        #pageTitle = "ngModel"
                                        required
                                        >
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>
                                            <label>Description</label>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <textarea
                                            class="form-control"
                                            cols="30" rows="5"
                                            name = "platformDescription2"
                                            [(ngModel)] = "platformDescription2"
                                            #pageTitle = "ngModel"
                                            required
                                        >
                                        </textarea>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td></td>
                                    <td>
                                        <div class="form-group text-end">
                                            <button class = "btn btn-primary" [disabled] = "!keyPlatforms.valid">Save</button>
                                            <a class="btn btn-primary" routerLink="/user/page">Cancel</a>
                                        </div>
                                        </td>
                                </tr> -->
                            </table>
                        </td>
                        <td align="center" class="align-top">
                            <button class="save_delete_panel_required" [disabled] = "!firstNameForm.valid">
                                <img  src="assets/images/Utility/Save-icon.png">
                            </button>
                        </td>
                    </tr>
                </table>
                </div>
            </form>
            <br/>

           <!-- Form for the key platforms. -->
            <form novalidate #keyPlatforms = "ngForm" (ngSubmit)="UpdateKeyPlatform(keyPlatforms, 3)">
                <div class="form-group" align="center">
                    <table>
                        <tr>
                            <td>
                                <table  class="form-group">
                                    <tr>
                                        <td class="small-label">
                                            <b>
                                                <label>Title idea &nbsp;</label>
                                            </b>
                                        </td>
                                        <td>
                                            <input
                                            type = "text"
                                            class = "form-control"
                                            placeholder="Enter title"
                                            name = "ideaTitle3"
                                            [(ngModel)] = "ideaTitle3"
                                            #pageTitle = "ngModel"
                                            required
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>
                                                <label>Description</label>
                                            </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <textarea
                                                class="form-control"
                                                cols="30" rows="5"
                                                name = "platformDescription3"
                                                [(ngModel)] = "platformDescription3"
                                                #pageTitle = "ngModel"
                                                required
                                            >
                                            </textarea>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <td></td>
                                        <td>
                                            <div class="form-group text-end">
                                                <button class = "btn btn-primary" [disabled] = "!keyPlatforms.valid">Save</button>
                                                <a class="btn btn-primary" routerLink="/user/page">Cancel</a>
                                            </div>
                                            </td>
                                    </tr> -->
                                </table>
                            </td>
                            <td align="center" class="align-top">
                                <button class="save_delete_panel_required" [disabled] = "!firstNameForm.valid">
                                    <img  src="assets/images/Utility/Save-icon.png">
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>

            <br/><br/>


       </div>
   </div>
</div>
<br/>

<!-- Form for the policy card. -->
<div class="card">
   <div class="card-header" data-bs-toggle="collapse" href="#cardForm">
       <p class="px-4 card-title">
           <b>
               Policy Cards
           </b>
       </p>
   </div>
   <div class="card-body">

       <div class="collapse" id="cardForm">
        <div class="container">
          <div class="row">
            <table align="center">
              <tr>
                <td>
                  <span  (click)="PushPolicyCard()" class="addCard" data-bs-toggle="collapse" href="#addCardForm">
                    <img src="assets/images/Utility/Add-Idea.png">
                  </span> &nbsp;
                  <span  class="addCard" data-bs-toggle="collapse" data-bs-toggle="collapse" href="#editCardList">
                    <img src="assets/images/Utility/Edit-Idea.png">
                  </span>
                </td>
              </tr>
            </table>
          </div>
          <div class="row collapse" id="editCardList">
            <div class="container">
                <table align="center">
                  <tr>
                    <td style="width:20%"><label class="picture-label">Filter</label></td>
                    <td>
                      <select
                          class="form-control"
                          name="cardFilterID"
                          [(ngModel)] = "cardFilterID"
                          #pageTitle = "ngModel"
                          (change)="test()"
                      >
                          <ng-container *ngFor = "let category of categories">
                              <option value="{{category.policyID}}" [selected] ="category.policyID == 1">{{category.category}}</option>
                          </ng-container>
                      </select>

                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <ng-container *ngFor="let card of this.page.candidate.cardList; let i = index">
                        <ng-container *ngIf="card.policyID == this.cardFilterID">
                          <div class="col">
                            <div class="card " style="width:18rem; border:none; ">
                              <ng-container>
                                <span *ngIf="card.cardStyle == 1">
                                  <img src="assets/images/Cards/Art-Card.png" class="card-img" alt="...">
                                </span>
                                <span *ngIf="card.cardStyle == 2">
                                  <img src="assets/images/Cards/Train-Card.png" class="card-img" alt="...">
                                </span>
                                <span *ngIf="card.cardStyle == 3">
                                  <img  src="assets/images/Cards/Tax-Card.png" style="border-radius: 10%;" alt="...">
                                </span>
                              </ng-container>
                              <div class="card-img-overlay" align="" style=" display: inline-block; padding:20%">
                                <h5 class="card-title" >{{card.cardTitle}}</h5>
                                <p class="card-text">{{card.cardDetails}}</p>
                                <p class="card-text">
                                  <a href="">
                                    LEARN MORE
                                  </a>
                                </p>

                                <span style="  position: absolute; left: 0; bottom:0">
                                  <img  src="assets/images/Utility/Pencil-Icon-With-Box.png" alt="...">
                                </span>
                              </div>

                            </div>
                          </div>
                        </ng-container>
                      </ng-container>

                    </td>
                  </tr>
                </table>
            </div>
            <div class="row">


            </div>
            <table align="center">
              <tr >

              </tr>

            </table>
          </div>
          <!-- <form [formGroup]="policycardform">
              <div
                  formArrayName="policycards"
                  *ngFor="let creds of policycardform.controls.policycards.controls; let i = index"
                  class="form-group" align="center"
              >
              <table class="form-group bg-light" >
                  <ng-container [formGroupName]="i">
                          <tr>
                              <td class="picture-label" >
                                  <b>
                                      <label>Choose a policy category:</label>
                                  </b>
                              </td>
                              <td >
                                  <select
                                      formControlName="policyID"
                                      style="width: 100%"
                                  >
                                      <ng-container *ngFor = "let category of categories">
                                          <option value="{{category.policyID}}" [selected] ="category.policyID == 1">{{category.category}}</option>
                                      </ng-container>
                                  </select>
                              </td>
                          </tr>
                          <tr>
                              <td class="small-label">
                                  <b>

                                      <label>Policy Title:</label>
                                  </b>
                              </td>
                              <td>
                                  <input
                                      type = "text"
                                      placeholder="Enter title"
                                      formControlName="cardTitle"
                                      style="width: 100%"
                                      (change)="textInputer($event, i, 'cardTitle')"
                                      [value]="this.policycardform.get('policycards').value[i]['cardTitle']"
                                      required
                                  >
                              </td>
                          </tr>
                          <tr>
                              <td class="small-label">
                                  <b>
                                      <label>Short Description</label>
                                  </b>
                              </td>
                          </tr>
                          <tr>
                              <td colspan="2">
                                  <textarea
                                      class="form-control"
                                      cols="10" rows="2"
                                      formControlName = "cardDetails"
                                      required
                                  >
                                  </textarea>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <b>
                                      <label>Long Description</label>
                                  </b>
                              </td>
                          </tr>
                          <tr>
                              <td colspan="2">
                                  <textarea
                                      class="form-control"
                                      cols="50" rows="5"
                                      formControlName = "learnMore"
                                      required
                                  >
                                  </textarea>
                              </td>
                          </tr>
                          <tr>
                              <td></td>
                              <td align='right'>
                                  <button class="save_delete_panel_required" (click)="updatePolicyCard(i)">
                                      <img  src="assets/images/Utility/Save-icon.png">
                                  </button>
                              </td>
                          </tr>
                  </ng-container>
                  <tr>

                  </tr>
              </table>

              </div>


          </form> -->
          <form novalidate #addPolicyCardForm = "ngForm" (ngSubmit)="updatePolicyCard(addPolicyCardForm)"
          *ngFor = "let card of this.page.candidate.cardList; let i = index">
             <div class="form-group collapse" align="center" id="addCardForm">
                 <table class="form-group" >
                     <tr>
                         <td class="picture-label">
                             <b>
                                 <label>Choose a policy category: &nbsp;</label>
                             </b>
                         </td>
                         <td>
                             <select
                                 class="form-control"
                                 name="policyID"
                                 [(ngModel)] = "policyID"
                                 #pageTitle = "ngModel"
                                 (change)="test()"
                             >
                                 <ng-container *ngFor = "let category of categories">
                                     <option value="{{category.policyID}}" [selected] ="category.policyID == 1">{{category.category}}</option>
                                 </ng-container>
                             </select>
                         </td>
                         <td>
                         </td>
                     </tr>
                     <tr>
                         <td class="small-label">
                             <b>

                                 <label>Policy Title:</label>
                             </b>
                         </td>
                         <td>
                            <input
                              type="text"
                              class="form-control"
                              name="PolicyTitle"
                              [(ngModel)] = "cardTitle"
                              #pageTitle = "ngModel"
                            >
                         </td>
                     </tr>
                     <tr>
                        <td class="small-label">
                            <b>

                                <label>Style:</label>
                            </b>
                        </td>
                          <td>
                          <select
                              class="form-control"
                              name="PolicyCardStyle"
                              [(ngModel)] = "PolicyCardStyle"
                              #pageTitle = "ngModel"
                          >
                              <ng-container *ngFor = "let style of this.styleList">
                                  <option
                                    value="{{style.styleID}}"
                                    [selected] ="style.styleID == 1"
                                  >
                                    {{style.styleName}}
                                  </option>
                              </ng-container>
                          </select>
                          </td>
                      </tr>
                     <tr>
                         <td>
                             <b>
                                 <label>Short Description</label>
                             </b>
                         </td>
                     </tr>
                     <tr>
                         <td colspan="2">
                             <textarea
                                 class="form-control"
                                 cols="10" rows="2"
                                 name = "cardDetails"
                                 [(ngModel)] = "cardDetails"
                                 #pageTitle = "ngModel"
                                 required
                             >
                             </textarea>
                         </td>
                     </tr>
                     <tr>
                         <td>
                             <b>
                                 <label>Long Description</label>
                             </b>
                         </td>
                     </tr>
                     <tr>
                         <td colspan="2">
                             <textarea
                                 class="form-control"
                                 cols="50" rows="5"
                                 name = "learnMore"
                                 [(ngModel)] = "learnMore"
                                 #pageTitle = "ngModel"
                                 required
                             >
                             </textarea>
                         </td>
                     </tr>

                     <tr>
                        <td></td>
                        <td align='right'>
                            <button class="save_delete_panel_required" (click)="updatePolicyCard(i)">
                                <img  src="assets/images/Utility/Save-icon.png">
                            </button>
                        </td>
                     </tr>
                 </table>
             </div>
             <br><br>
          </form>

          <form novalidate #updatePolicyCardForm = "ngForm" (ngSubmit)="updatePolicyCard(updatePolicyCardForm)"
            *ngFor = "let card of this.page.candidate.cardList; let i = index">
              <div class="form-group" align="center">
                  <table class="form-group" >
                      <tr>
                          <td class="picture-label">
                              <b>
                                  <label>Choose a policy category: &nbsp;</label>
                              </b>
                          </td>
                          <td>
                              <select
                                  class="form-control"
                                  name="policyID"
                                  [(ngModel)] = "policyID"
                                  #pageTitle = "ngModel"
                                  (change)="test()"
                              >
                                  <ng-container *ngFor = "let category of categories">
                                      <option value="{{category.policyID}}" [selected] ="category.policyID == 1">{{category.category}}</option>
                                  </ng-container>
                              </select>
                          </td>
                          <td>
                          </td>
                      </tr>
                      <tr>
                          <td class="small-label">
                              <b>

                                  <label>Policy Title:</label>
                              </b>
                          </td>
                          <td>
                            <select
                                class="form-control"
                                name="PolicyTitle"
                                [(ngModel)] = "cardTitle"
                                #pageTitle = "ngModel"
                            >
                                <ng-container *ngFor = "let title of this.cardTitleList">
                                    <option
                                      *ngIf="title.policyID == this.policyID"
                                      value="{{title.cardTitle}}"
                                    >
                                      {{title.cardTitle}}
                                    </option>
                                </ng-container>
                            </select>
                          </td>
                      </tr>
                      <tr>
                          <td class="small-label">
                              <b>

                                  <label>Style:</label>
                              </b>
                          </td>
                          <td>
                            <select
                                class="form-control"
                                name="PolicyCardStyle"
                                [(ngModel)] = "PolicyCardStyle"
                                #pageTitle = "ngModel"

                            >
                                <ng-container *ngFor = "let style of this.styleList">
                                    <option
                                      value="{{style.styleID}}"
                                      [selected] ="style.styleID == 1"
                                    >
                                      {{style.styleName}}
                                    </option>
                                </ng-container>
                            </select>
                          </td>
                        </tr>
                      <tr>
                          <td>
                              <b>
                                  <label>Short Description</label>
                              </b>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="2">
                              <textarea
                                  class="form-control"
                                  cols="10" rows="2"
                                  name = "cardDetails"
                                  [(ngModel)] = "cardDetails"
                                  #pageTitle = "ngModel"
                                  required
                              >
                              </textarea>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <b>
                                  <label>Long Description</label>
                              </b>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="2">
                              <textarea
                                  class="form-control"
                                  cols="50" rows="5"
                                  name = "learnMore"
                                  [(ngModel)] = "learnMore"
                                  #pageTitle = "ngModel"
                                  required
                              >
                              </textarea>
                          </td>
                      </tr>

                      <tr>
                          <td></td>
                          <td align='right'>
                              <button class="save_delete_panel_required" (click)="updatePolicyCard(i)">
                                  <img  src="assets/images/Utility/Save-icon.png">
                              </button>
                          </td>
                      </tr>
                  </table>
              </div>
              <!-- <div class = "alert alert-danger" *ngIf = "pageTitle.errors?.required && pageTitle.touched">
                  First name is required!
              </div> -->
              <br><br>
          </form>

        </div>
       </div>
   </div>


</div>

