<div>
    <table align="center" >
        <tbody>
            <tr>
                <td>
                    <img
                        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
                        width="500"
                        height="400"
                    >
                </td>
                <td>
                    <table style="table-layout: fixed; width: 100%">
                        <tr>
                            <td>
                                <h1>
                                    {{pageBody.candidate.firstName}}
                                    {{pageBody.candidate.lastName}}
                                </h1>
                            </td>

                        </tr>
                        <tr>
                            <td style="word-wrap: break-word; ">
                                {{pageBody.candidate.bio}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Donate |
                                Lawn Signs |
                                Volunteer
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="">
    <h1>Media</h1>

    <!-- {{urlList}} -->
    <div *ngFor = "let url of urlList">
        <ng-container *ngIf= "url.urlID ==  2">
          <p >{{url.urlID}}</p>
          <p><a href="{{url.link}}">{{url.urlName}}</a></p>
          <iframe  width="560" height="315" src= url.link.toString() title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </ng-container>
    </div>
</div>
<div class="">

</div>


